In [1]:
import pandas as pd
import numpy as np
import wrangle_module

In [2]:
permits = wrangle_module.acquire_permits()

In [3]:
permits.shape

(76899, 14)

In [4]:
permits.head(1)

,Status Date,Status #,API NO.,Operator Name/Number,Lease Name,Well #,Dist.,County,Wellbore Profile,Filing Purpose,Amend,Total Depth,Stacked Lateral Parent Well DP #,Current Queue
0,Submitted 12/07/2013 Approved 02/09/2016,747692,41739323,"VAN OPERATING, LTD. (881442)",SOUTH GREEN '54',3,7B,SHACKELFORD,Vertical,New Drill,Y,4700,NaN,APPROVED

In [5]:
permits = wrangle_module.prep_permits(permits)
permits.shape

(67355, 17)

In [6]:
permits.head(1)

,Status_Date,Status,API_NO.,Operator_Name_Number,Lease_Name,Well,District,County,Wellbore_Profile,Filing_Purpose,Amend,Total_Depth,Current_Queue,Permit_submitted,Approval_time_days,SHALE,Depth_bin
Permit_approved,,,,,,,,,,,,,,,,,
2016-01-04,Submitted 01/04/2016 Approved 01/04/2016,812976,28531642,"CANTERA OPERATING, LLC (129692)",O. A. LAMPLEY GU 1,1,02,LAVACA,Vertical,Recompletion,N,13606,APPROVED,2016-01-04,0,EAGLE FORD,Deep

In [7]:
permits = wrangle_module.encode_permits(permits)
permits.shape

(67355, 22)

In [8]:
permits.head(1)

,Status_Date,Status,API_NO.,Operator_Name_Number,Lease_Name,Well,District,County,Wellbore_Profile,Filing_Purpose,...,Current_Queue,Permit_submitted,Approval_time_days,SHALE,Depth_bin,BARNETT,EAGLE FORD,HAYNESVILLE,NONE,PERMIAN BASIN
Permit_approved,,,,,,,,,,,,,,,,,,,,,
2016-01-04,Submitted 01/04/2016 Approved 01/04/2016,812976,28531642,"CANTERA OPERATING, LLC (129692)",O. A. LAMPLEY GU 1,1,02,LAVACA,Vertical,Recompletion,...,APPROVED,2016-01-04,0,EAGLE FORD,Deep,0,1,0,0,0

In [9]:
train, validate, test, X_train, y_train, X_validate, y_validate, X_test, y_test = \
wrangle_module.split_permits(permits)

In [10]:
train.shape,

((37718, 22),)

In [11]:
train.head(1)

,Status_Date,Status,API_NO.,Operator_Name_Number,Lease_Name,Well,District,County,Wellbore_Profile,Filing_Purpose,...,Current_Queue,Permit_submitted,Approval_time_days,SHALE,Depth_bin,BARNETT,EAGLE FORD,HAYNESVILLE,NONE,PERMIAN BASIN
Permit_approved,,,,,,,,,,,,,,,,,,,,,
2018-11-07,Submitted 11/07/2018 Approved 11/07/2018,846586,38937764,NOBLE ENERGY INC (611665),WILD BILL HICKOK 205-206 UNIT B,9H,08,REEVES,Horizontal,New Drill,...,APPROVED,2018-11-07,0,PERMIAN BASIN,Deep,0,0,0,0,1

In [12]:
validate.shape,

((16166, 22),)

In [13]:
test.shape,

((13471, 22),)

In [14]:
X_train.shape,

((37718, 21),)

In [15]:
y_train.shape,

((37718, 1),)

In [16]:
y_train.head(1)

                 Approval_time_days
Permit_approved
2018-11-07                        0

In [17]:
X_validate.shape,

((16166, 21),)

In [18]:
y_validate.shape,

((16166, 1),)

In [19]:
X_test.shape,

((13471, 21),)

In [20]:
y_test.shape

(13471, 1)

In [21]:
train_scaled, X_train_scaled, y_train_scaled, validate_scaled, X_validate_scaled, y_validate_scaled, test_scaled, X_test_scaled, y_test_scaled = wrangle_module.scale_permits(train,validate,test)

/Users/brianclements/codeup-data-science/Individual_Project/wrangle_module.py:145: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Depth_scaled'] = scaler.transform(test[['Total_Depth']])

In [22]:
train_scaled.shape,

((37718, 22),)

In [35]:
train_scaled.head()

,Status_Date,Status,API_NO.,Operator_Name_Number,Lease_Name,Well,District,County,Wellbore_Profile,Filing_Purpose,...,Permit_submitted,Approval_time_days,SHALE,Depth_bin,BARNETT,EAGLE FORD,HAYNESVILLE,NONE,PERMIAN BASIN,Depth_scaled
Permit_approved,,,,,,,,,,,,,,,,,,,,,
2018-11-07,Submitted 11/07/2018 Approved 11/07/2018,846586,38937764,NOBLE ENERGY INC (611665),WILD BILL HICKOK 205-206 UNIT B,9H,08,REEVES,Horizontal,New Drill,...,2018-11-07,0,PERMIAN BASIN,Deep,0,0,0,0,1,0.461235
2016-07-11,Submitted 07/08/2016 Approved 07/11/2016,816883,46140376,APACHE CORPORATION (027200),CONNELL 48 WEST,2HM,7C,UPTON,Horizontal,New Drill,...,2016-07-08,3,PERMIAN BASIN,Mid_depth,0,0,0,0,1,0.360732
2016-11-10,Submitted 11/02/2016 Approved 11/10/2016,819999,16334012,CABOT OIL & GAS CORPORATION (121700),THOMPSON RANCH,11H,01,FRIO,Horizontal,New Drill,...,2016-11-02,8,EAGLE FORD,Shallow,0,1,0,0,0,0.292534
2019-09-26,Submitted 09/24/2019 Approved 09/26/2019,857379,25536606,BPX OPERATING COMPANY (085408),LONESOME DOVE A,8H,02,KARNES,Horizontal,New Drill,...,2019-09-24,2,EAGLE FORD,Deep,0,1,0,0,0,0.420818
2016-09-26,Submitted 09/13/2016 Approved 09/26/2016,818425,17333081,"VERITAS ENERGY, LLC (884589)",BRYANS 26,1,08,GLASSCOCK,Vertical,Recompletion,...,2016-09-13,13,PERMIAN BASIN,Shallow,0,0,0,0,1,0.299713

In [24]:
X_train_scaled.shape,

((37718, 21),)

In [25]:
X_train_scaled.head(1)

,Status_Date,Status,API_NO.,Operator_Name_Number,Lease_Name,Well,District,County,Wellbore_Profile,Filing_Purpose,...,Current_Queue,Permit_submitted,SHALE,Depth_bin,BARNETT,EAGLE FORD,HAYNESVILLE,NONE,PERMIAN BASIN,Depth_scaled
Permit_approved,,,,,,,,,,,,,,,,,,,,,
2018-11-07,Submitted 11/07/2018 Approved 11/07/2018,846586,38937764,NOBLE ENERGY INC (611665),WILD BILL HICKOK 205-206 UNIT B,9H,08,REEVES,Horizontal,New Drill,...,APPROVED,2018-11-07,PERMIAN BASIN,Deep,0,0,0,0,1,0.461235

In [26]:
y_train_scaled.shape,

((37718, 1),)

In [27]:
y_train_scaled.head()

                 Approval_time_days
Permit_approved
2018-11-07                        0
2016-07-11                        3
2016-11-10                        8
2019-09-26                        2
2016-09-26                       13

In [28]:
validate_scaled.shape,

((16166, 22),)

In [29]:
X_validate_scaled.shape,

((16166, 21),)

In [30]:
y_validate_scaled.shape

(16166, 1)

In [31]:
test_scaled.shape

(13471, 22)

In [32]:
X_test_scaled.shape

(13471, 21)

In [33]:
y_test_scaled.shape

(13471, 1)