In [1]:
import pandas as pd
import numpy as np

In [2]:
permits_2016 = pd.read_csv('DrillingPermitResults_2016.csv',sep=',')
permits_2016.head(1)

,Status Date,Status #,API NO.,Operator Name/Number,Lease Name,Well #,Dist.,County,Wellbore Profile,Filing Purpose,Amend,Total Depth,Stacked Lateral Parent Well DP #,Current Queue
0,Submitted 12/07/2013 Approved 02/09/2016,747692,41739323,"VAN OPERATING, LTD. (881442)",SOUTH GREEN '54',3,7B,SHACKELFORD,Vertical,New Drill,Y,4700,NaN,APPROVED

In [4]:
permits_2016.shape

(9941, 14)

In [5]:
permits_2017_1 = pd.read_csv('DrillingPermitResults_2017_1.csv', sep=',')
permits_2017_1.head(1)

,Status Date,Status #,API NO.,Operator Name/Number,Lease Name,Well #,Dist.,County,Wellbore Profile,Filing Purpose,Amend,Total Depth,Stacked Lateral Parent Well DP #,Current Queue
0,Submitted 10/21/2014 Approved 03/09/2017,774935,43936889,"CHESAPEAKE OPERATING, L.L.C. (147699)",TCCD SOUTH,4H,05,TARRANT,Horizontal,New Drill,Y,9000,NaN,APPROVED

In [6]:
permits_2017_1.shape

(7689, 14)

In [7]:
permits_2017_2 = pd.read_csv('DrillingPermitResults_2017_2.csv', sep=',')
permits_2017_2.head(1)

,Status Date,Status #,API NO.,Operator Name/Number,Lease Name,Well #,Dist.,County,Wellbore Profile,Filing Purpose,Amend,Total Depth,Stacked Lateral Parent Well DP #,Current Queue
0,Submitted 08/10/2016 Approved 07/10/2017,757258,38933659,"CENTENNIAL RESOURCE PROD, LLC (141077)",WEAVER STATE,3H,08,REEVES,Horizontal,New Drill,Y,11500,NaN,APPROVED

In [8]:
permits_2017_2.shape

(7386, 14)

In [9]:
permits_2018_1 = pd.read_csv('DrillingPermitResults_2018_1.csv', sep=',')
permits_2018_1.head(1)

,Status Date,Status #,API NO.,Operator Name/Number,Lease Name,Well #,Dist.,County,Wellbore Profile,Filing Purpose,Amend,Total Depth,Stacked Lateral Parent Well DP #,Current Queue
0,Submitted 03/13/2018 Approved 03/28/2018,837508,31700160,ENDEAVOR ENERGY RESOURCES L.P. (251726),"YATES, W. M.",2R,08,MARTIN,Vertical,Recompletion,N,12096,NaN,APPROVED

In [10]:
permits_2018_1.shape

(8756, 14)

In [11]:
permits_2018_2 = pd.read_csv('DrillingPermitResults_2018_2.csv', sep=',')
permits_2018_2.head(1)

,Status Date,Status #,API NO.,Operator Name/Number,Lease Name,Well #,Dist.,County,Wellbore Profile,Filing Purpose,Amend,Total Depth,Stacked Lateral Parent Well DP #,Current Queue
0,Submitted 08/17/2017 Approved 07/23/2018,830013,35533494,"KRC OPERATING, LLC (476900)",FLAME,3,04,NUECES,Vertical,Recompletion,N,10580,NaN,APPROVED

In [12]:
permits_2018_2.shape

(8076, 14)

In [13]:
permits_2019_1 = pd.read_csv('DrillingPermitResults_2019_1.csv', sep=',')
permits_2019_1.head(1)

,Status Date,Status #,API NO.,Operator Name/Number,Lease Name,Well #,Dist.,County,Wellbore Profile,Filing Purpose,Amend,Total Depth,Stacked Lateral Parent Well DP #,Current Queue
0,Submitted 10/06/2011 Approved 01/07/2019,702117,24532673,GOLDSTON OIL CORPORATION (313990),ATTRIDGE,1,03,JEFFERSON,Directional,New Drill,Y,8650,NaN,APPROVED

In [14]:
permits_2019_1.shape

(8343, 14)

In [15]:
permits_2019_2 = pd.read_csv('DrillingPermitResults_2019_2.csv', sep=',')
permits_2019_2.head(1)

,Status Date,Status #,API NO.,Operator Name/Number,Lease Name,Well #,Dist.,County,Wellbore Profile,Filing Purpose,Amend,Total Depth,Stacked Lateral Parent Well DP #,Current Queue
0,Submitted 05/02/2018 Approved 08/23/2019,835720,36538386,ROCKCLIFF ENERGY OPERATING LLC (722890),POPE JEAN HV UNIT,2H,06,PANOLA,Horizontal,New Drill,Y,12000,NaN,APPROVED

In [16]:
permits_2019_2.shape

(7137, 14)

In [17]:
permits_2020 = pd.read_csv('DrillingPermitResults_2020.csv',sep=',')
permits_2020.head(1)

,Status Date,Status #,API NO.,Operator Name/Number,Lease Name,Well #,Dist.,County,Wellbore Profile,Filing Purpose,Amend,Total Depth,Stacked Lateral Parent Well DP #,Current Queue
0,Submitted 10/07/2020 Approved 10/08/2020,865444,13543776,"FASKEN OIL AND RANCH, LTD. (263696)",FEE 'BL',3103,08,ECTOR,Vertical,New Drill,N,15000,NaN,APPROVED

In [18]:
permits_2020.shape

(8635, 14)

In [19]:
permits_2021_1 = pd.read_csv('DrillingPermitResults_2021_1.csv', sep=',')
permits_2021_1.head(1)

,Status Date,Status #,API NO.,Operator Name/Number,Lease Name,Well #,Dist.,County,Wellbore Profile,Filing Purpose,Amend,Total Depth,Stacked Lateral Parent Well DP #,Current Queue
0,Submitted 03/15/2013 Approved 05/21/2021,758774,48333674,APACHE CORPORATION (027200),STILES 68,3068H,10,WHEELER,Horizontal,New Drill,N,13500,NaN,APPROVED

In [21]:
permits_2021_1.shape

(5077, 14)

In [22]:
permits_2021_2 = pd.read_csv('DrillingPermitResults_2021_2.csv', sep=',')
permits_2021_2.head(1)

,Status Date,Status #,API NO.,Operator Name/Number,Lease Name,Well #,Dist.,County,Wellbore Profile,Filing Purpose,Amend,Total Depth,Stacked Lateral Parent Well DP #,Current Queue
0,Submitted 10/15/2019 Approved 07/28/2021,858058,49502782,STOUT ENERGY INC. (824192),"HENDRICK, IDA",6,08,WINKLER,Vertical,Reenter,N,3000,NaN,APPROVED

In [23]:
permits_2021_2.shape

(5859, 14)

In [32]:
permits_test = permits_2016.append(permits_2017_1).append(permits_2017_2)\
                .append(permits_2018_1).append(permits_2018_2).append(permits_2019_1)\
                .append(permits_2019_2).append(permits_2020).append(permits_2021_1)\
                .append(permits_2021_2)
permits_test.head()

,Status Date,Status #,API NO.,Operator Name/Number,Lease Name,Well #,Dist.,County,Wellbore Profile,Filing Purpose,Amend,Total Depth,Stacked Lateral Parent Well DP #,Current Queue
0,Submitted 12/07/2013 Approved 02/09/2016,747692,41739323,"VAN OPERATING, LTD. (881442)",SOUTH GREEN '54',3,7B,SHACKELFORD,Vertical,New Drill,Y,4700,NaN,APPROVED
1,Submitted 03/03/2014 Approved 04/29/2016,771447,12735812,MURPHY EXPL. & PROD. CO. - USA (594675),KONE,39H,01,DIMMIT,Horizontal,New Drill,Y,8500,NaN,APPROVED
2,Submitted 03/03/2014 Approved 04/29/2016,771462,12735813,MURPHY EXPL. & PROD. CO. - USA (594675),KONE,40H,01,DIMMIT,Horizontal,New Drill,Y,8500,NaN,APPROVED
3,Submitted 08/13/2014 Approved 08/11/2016,794084,32132378,"PONDEROSA OIL & GAS, LLC (670093)",WESTBROOK,1,03,MATAGORDA,Vertical,New Drill,N,11750,NaN,APPROVED
4,Submitted 09/03/2014 Approved 01/07/2016,795498,44930624,XTO ENERGY INC. (945936),TALCO EAST UNIT,1209,06,TITUS,Vertical,New Drill,N,5600,NaN,APPROVED

In [33]:
permits_test.shape

(76899, 14)

In [ ]:
x = df["Status Date"].str.replace("Submitted", "").str.replace("Approved", "")
x = x.str.split(n=2, expand=True)
df["submitted"] = x[0]
df["approved"] = x[1]

In [ ]:
df.head()

In [ ]:
df['Operator Name/Number'].sample(100)

In [ ]:
x = df["Operator Name/Number"].str.replace("Submitted", "").str.replace("Approved", "")
x = x.str.split(n=2, expand=True)
df["submitted"] = x[0]
df["approved"] = x[1]

In [ ]:
# ['Status_Date','Status_#','API_NO.','Operator_Name/Number','Lease_Name','Well_#','Dist.','County','Wellbore_Profile','Filing_Purpose','Amend','Total_Depth','Stacked_Lateral_Parent_Well_DP_#','Current_Queue']

In [ ]:
production_2016 = pd.read_csv('ProductionDataQuery_Lease_ReportCsv_Dist_01.csv', sep = ',')

In [ ]:
production_2016.head()