In [3]:
import pandas as pd
import numpy as np

In [7]:
prod_16 = pd.read_csv('ProductionDataQuery_Lease_ReportCsv_2016_D1.csv', sep = ',')\
.append(pd.read_csv('ProductionDataQuery_Lease_ReportCsv_2016_D2.csv'))\
.append(pd.read_csv('ProductionDataQuery_Lease_ReportCsv_2016_D3.csv'))\
.append(pd.read_csv('ProductionDataQuery_Lease_ReportCsv_2016_D4.csv'))\
.append(pd.read_csv('ProductionDataQuery_Lease_ReportCsv_2016_D5.csv'))\
.append(pd.read_csv('ProductionDataQuery_Lease_ReportCsv_2016_D6.csv'))\
.append(pd.read_csv('ProductionDataQuery_Lease_ReportCsv_2016_D6E.csv'))\
.append(pd.read_csv('ProductionDataQuery_Lease_ReportCsv_2016_D7B.csv'))\
.append(pd.read_csv('ProductionDataQuery_Lease_ReportCsv_2016_D7C.csv'))\
.append(pd.read_csv('ProductionDataQuery_Lease_ReportCsv_2016_D8.csv'))\
.append(pd.read_csv('ProductionDataQuery_Lease_ReportCsv_2016_D8A.csv'))\
.append(pd.read_csv('ProductionDataQuery_Lease_ReportCsv_2016_D9.csv'))\
.append(pd.read_csv('ProductionDataQuery_Lease_ReportCsv_2016_D10.csv'))


prod_16.shape

(227770, 8)

In [9]:
prod_16['Production_year'] = int(2016)

In [14]:
prod_16 = prod_16.rename(columns={'Lease Name':'Lease_Name', 'Lease No.':'Lease_No.', 'District No.':'District'
 , 'Well No.':'Well', 'Oil (BBL)': 'Oil_BBL',
       'Casinghead (MCF)':'Casinghead_MCF', 'GW Gas (MCF)':'GW_Gas_MCF'
 , 'Condensate (BBL)':'Condensate_BBL',})

In [15]:
prod_16.head()

,Lease_Name,Lease_No.,District,Well,Oil_BBL,Casinghead_MCF,GW_Gas_MCF,Condensate_BBL,Production_year
0,"ALTIZER ""B""",167077,01,7B,0,0,29948,0,2016
1,REEVES,12813,01,,441,0,0,0,2016
2,(S.A.H.) V.H. HRBACEK,04024,01,,0,0,0,0,2016
3,"0AUER, OLGA",02065,01,,82,0,0,0,2016
4,1ST LOCKHART NATIONAL BANK,09481,01,,0,0,0,0,2016

In [16]:
prod_16.to_csv('prod_16.csv')